.navbar {
    background-color: #8A1F1F;
}

.navbar-brand {
    padding-left: 20px;
}

.nav-link {
    font-size: 25px !important;
    color: white !important; 
    font-family: 'BatmanForeverAlternate', sans-serif;
    padding-right: 10px !important;
}

.navbar-nav {
    padding-right: 40px !important;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
    color: white;
}

.front {
    margin-top:110px !important;
}

.namebrand{
    font-family: 'BatmanForeverAlternate', sans-serif;
    text-align: center;
    color: #F10D0D;
    font-size: 90px;
}

.slogan{
    font-family: 'VALORANT', sans-serif;
    text-align: center;
    color: #ffffff;
    font-size: 60px;
}

@media (max-width: 768px) {
    
    .namebrand {
        font-size: 30px;
    }
    .slogan {
        font-size: 20px;
    }

    .windows {
        font-size: 10px;
    }
    .nameSpecs {
        font-size: 5px;
    }
}

* {
    overflow-x: hidden;
}

.information {
    color: white;
    font-size: 25px;
    font-weight: 500px;
    font-family: "Anonymous Pro", monospace;
    text-align: center;
}

.sizeImg {
    margin-top:110px !important;
}

.windows {
    font-family: 'BatmanForeverAlternate', sans-serif;
    text-align: center;
    color: #F10D0D;
    font-size: 50px;
}

.nameSpecs{
    font-family: 'VALORANT', sans-serif;
    text-align: center;
    color: #ffffff;
    font-size: 35px;
}

.mainSpecs {
    font-family: 'BatmanForeverAlternate', sans-serif !important;
    color: #F10D0D !important;
    font-size: 40px;
}

.otherSpecs {
    font-family: 'VALORANT', sans-serif !important;
    color: white !important;
    font-size: 20px;
}